<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Políticas de Privacidad</title>
    <link rel="stylesheet" type="text/css" href="/css/politicacss.css">
 
</head>
<body>
    <header class="header">
        <nav class="navbar ">
              <ul>
                <li><a href="/principal">Inicio</a></li>
                <li><a href="https://wa.me/message/DANXY2GE64B6O1" target="_blank">Contacto</a></li>
              </ul>
        </nav>
        <br>
        <h1>Política de Privacidad 
            de Guardianes de la Paz</h1>
        <p> 
            <span>En Guardianes de la Paz, nos comprometemos a proteger la privacidad de nuestros usuarios y respetar sus datos personales.</span>
            <span>Esta política explica cómo recopilamos, usamos y protegemos la información proporcionada por los visitantes de nuestra página.</span>
            <span>Recopilamos datos como estadísticas de uso del sitio y datos de contacto solo si el usuario los proporciona explícitamente.</span>
            <span>Utilizamos cookies para mejorar la experiencia de navegación. Los usuarios pueden desactivar las cookies si lo desean.</span>
            <span>Implementamos medidas de seguridad para proteger la información de accesos no autorizados o modificaciones.</span>
            <span>Los usuarios tienen derecho a acceder, rectificar o eliminar cualquier información personal compartida con nosotros.</span>
            <span>Nos comprometemos a no compartir, vender ni alquilar los datos personales de nuestros usuarios a terceros sin su consentimiento explícito.</span>
            <span>Los usuarios pueden optar por suscribirse o darse de baja en nuestras comunicaciones mediante las opciones proporcionadas en cada mensaje o en la configuración de la cuenta.</span>
            <span>En caso de cualquier cambio en nuestra política de privacidad, se notificará oportunamente a los usuarios para que puedan tomar decisiones informadas.</span>
        </p>
    </header>
</body>
</html>